<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol_01_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,132}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,132}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_02_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{141,150}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,150}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_03_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{146,165}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,165}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_04_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{174,165}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,165}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_05_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,169},{161,166}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,166}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_06_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{144,169}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,169}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_07_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,337},{178,180}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_08_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{176,180}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_09_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,519},{176,180}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_10_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{176,180}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
            <key>Symbol_11_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,701},{176,505}}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,505}}</string>
                <key>sourceSize</key>
                <string>{200,540}</string>
                <key>offset</key>
                <string>{0,0}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>Blur_Symbols.png</key>
            <string>Blur_Symbols.png</string>
            <key>size</key>
            <string>{420,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa7363eb761b42d9a7bb4a320db4620d$</string>
            <key>textureFileName</key>
            <string>Blur_Symbols.png</string>
        </dict>
    </dict>
</plist>